<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vue Filter Testing</title>
</head>
  <body>
	  <div class="container" id="people">
	<div class="filter">
		<label><input type="radio" v-model="selectedCategory" value="ALL" /> All</label>
		<label><input type="radio" v-model="selectedCategory" value="Tech" /> Tech</label>
		<label><input type="radio" v-model="selectedCategory" value="Entertainment" /> Entertainment</label>
		<label><input type="radio" v-model="selectedCategory" value="Fictional" /> Fictional</label>
	</div>
	
	<ul class="people-list">
		<li v-for="person in filteredPeople">{{ person.name }}</li>
	</ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>  
<script>
	
    var vm = new Vue({
	el:  "#people",
	data: {
		people: [
			{ name: "Hardware Engineer", category: "Tech" },
			{ name: "Network Administrator", category: "Tech" },
			{ name: "Business Development Manager", category: "Sales" },
			{ name: "Content Strategist", category: "Marketing" },
			{ name: "Budget Analyst", category: "Accounting" },
			{ name: "Risk Analyst", category: "Accounting" },
			{ name: "Social Media Specialist", category: "Marketing" },
			{ name: "Territory Account Manager", category: "Sales" },
			{ name: "Scrum Master", category: "Tech" }
		],
		selectedCategory: "All"
	},
	computed: {
		filteredPeople: function() {
			var vm = this;
			var category = vm.selectedCategory;
			
			if(category === "All") {
				return vm.people;
			} else {
				return vm.people.filter(function(person) {
					return person.category === category;
				});
			}
		}
	}
});
</script>
