<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js" integrity="sha256-Gs0UYwrz/B58FsQggzU+vvCSyG/pewemP4Lssjzv8Ho=" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js" integrity="sha256-OZ+Xidb5+lV/saUzcfonHJQ3koQncPy0hLjT8dROdOU=" crossorigin="anonymous"></script>

<div id="app">
  <h2>Fetched data from jsonplaceholder</h2>
  Search by title: <input type="text" v-model="search"> <br><br>
  
  <lable>sunt</lable><input type="checkbox" value="sunt" v-on:change="filter">
  <lable>esse</lable><input type="checkbox" value="esse" v-on:change="filter">
  
  <span v-if="filterText">Filtered with <b>{{ filterText }}</b></span>
  
  <ul>
    <li v-for="apiRequest in filteredBlogs">
      <h4>{{ apiRequest.title }}</h4>
      <p>{{ apiRequest.body }}</p>
    </li>
  </ul>
</div>

