<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- VUE.JS CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  	<title>Github Jobs API</title>
 	 
  </head>

<body>
 <!-- DIV for Vue.js filter -->
   
	<div class="container2" id="jobs">
	<div class="filter">
		<label><input type="radio" v-model="selectedType" value="Full Time"/>Full Time</label>
		<label><input type="radio" v-model="selectedType" value="Part Time"/>Part Time</label>
   		<label><input type="radio" v-model="selectedType" value="Contract"/>Contract</label>
		
     </div>
	
	<ul class="job-list">
	    <li v-for="job in filteredJobs">
              <job-card v-bind:job="job"></job-card>
            </li>
	</ul>
     </div>

   <!-- DIV FOR CARD DISPLAY -->
     <div id="root"></div>
  </body>
</html>


